* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ellipsis, Cyrillic, "ＭＳ Pゴシック", "MS PGothic", sans-serif;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #2b2b2b;
}

*::-webkit-scrollbar-thumb {
    background: #555555;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif;
    background: #2b2b2b;
    color: #cccccc;
    overflow: hidden;
    display: flex;
    height: 100vh;
}
